.card {
  width: 18rem;
  margin: 20px; /* Margen en todos los lados */
  display: inline-block; /* Mostrar en línea */
  transition: transform 0.2s; /* Transición suave */
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05); /* Hacer la tarjeta un poco más grande al pasar el cursor sobre ella */
}

h4 {
  margin-top: 20px; /* Puedes ajustar el valor del margen */
  margin-left: 20px;
}

